html {
  background-color: black;
  text-align: center;
  font-family: Verdana;
}

.intro h1 {
  color: white;
  font-size: 50px;
  font-weight: normal;
  
}

a.download_link {
  color: aquamarine;
  font-size: 16px;
}

.travel_guide h2, .mobile_app h2{
  color: white;
  font-weight: 300;
  font-size: 42px;
}

.travel_guide p {
  font-size: 21px;
  color: gray;
}

.product {
  text-align: right;
  color: gray;
  font-size: 21px;
}